.toast-container {
  position: fixed !important;
  top: 1.25rem !important;
  right: 1.25rem !important;
  z-index: 99999 !important;
}

.toast-container .ngx-toastr {
  background-color: #2b2b2b !important;
  color: #f9fafb !important;

  border-radius: 12px !important;
  padding: 14px 16px !important;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35) !important;

  font-family: Inter, system-ui, sans-serif;
  font-size: 14px;
  line-height: 1.4;

  opacity: 1 !important;
}

.toast-title {
  font-weight: 600 !important;
  font-size: 14px;
  margin-bottom: 2px;
  color: #ffffff !important;
}

.toast-message {
  font-weight: 400 !important;
  font-size: 13px;
  color: #d1d5db !important;
}

.toast-close-button {
  display: none !important;
}

.toast-success {
  border-left: 1px solid #4fd1b5 !important; /* verde urban */
}

.toast-error {
  border-left: 1px solid #ef4444 !important; /* vermelho suave */
}

.toast-warning {
  border-left: 1px solid #f59e0b !important;
}

.toast-info {
  border-left: 1px solid #3b82f6 !important;
}

.toast-container .ngx-toastr {
  animation: toastIn 0.25s ease-out;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
